 .u-section-1 {
  background-image: none;
  min-height: 1155px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 565px);
  min-height: 1154px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: -849px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 734px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 333px;
  height: 302px;
  object-position: 50% 63.61%;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-1 {
  margin: -212px 0 0 354px;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0 354px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0 354px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-2 {
  width: 333px;
  height: 302px;
  object-position: 50% 63.61%;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-4 {
  margin: -212px 0 0 354px;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0 354px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0 354px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-3 {
  width: 333px;
  height: 302px;
  object-position: 50% 63.61%;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-7 {
  margin: -212px 0 0 354px;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0 354px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 20px 0 0 354px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-4 {
  width: 333px;
  height: 302px;
  object-position: 50% 63.61%;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-10 {
  margin: -212px 0 0 354px;
}

.u-section-1 .u-text-11 {
  margin: 20px 0 0 354px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 20px 0 0 354px;
}

.u-section-1 .u-text-13 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: -973px calc(((100% - 1140px) / 2) + 710px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-line-1 {
  width: 271px;
  height: 2px;
  margin: 36px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-link-1 {
  text-transform: uppercase;
  padding-bottom: 2px;
  letter-spacing: 1px;
  border-style: solid;
  margin: 36px auto 60px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1026px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 470px);
    min-height: 1025px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    height: auto;
    margin-top: -720px;
  }

  .u-section-1 .u-image-1 {
    width: 245px;
    height: 240px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-image-2 {
    width: 245px;
    height: 240px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-image-3 {
    width: 245px;
    height: 240px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-image-4 {
    width: 245px;
    height: 240px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 940px) / 2) + 510px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-link-1 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 359px);
    min-height: 1315px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: -1036px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-1 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 394px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 394px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 394px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 394px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 394px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 394px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 394px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 394px;
  }

  .u-section-1 .u-text-13 {
    font-size: 2.25rem;
    margin-top: -1163px;
    margin-right: calc(((100% - 720px) / 2) + 290px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-line-1 {
    height: 4px;
    margin-top: 42px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-link-1 {
    margin-top: 30px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 269px);
    min-height: 1389px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: -1071px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 301px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 301px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 301px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: -1302px;
    margin-right: calc(((100% - 540px) / 2) + 269px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-line-1 {
    margin-top: 27px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-link-1 {
    margin-top: 45px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 240px);
    min-height: 1336px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -1018px;
  }

  .u-section-1 .u-image-1 {
    width: 158px;
    margin-top: -30px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 178px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 178px;
  }

  .u-section-1 .u-image-2 {
    width: 158px;
    margin-top: -30px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 178px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 178px;
  }

  .u-section-1 .u-image-3 {
    width: 158px;
    margin-top: -30px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 178px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 178px;
  }

  .u-section-1 .u-image-4 {
    width: 158px;
    margin-top: -30px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 178px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 178px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -1210px;
    margin-right: calc(((100% - 340px) / 2) + 69px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-link-1 {
    width: 186px;
    margin-top: 34px;
    margin-left: calc(((100% - 340px) / 2));
  }
}